fastapi
uvicorn
pydantic
python-dotenv

langchain
langchain-community
langchain-qdrant
langchain-openai
langgraph

sentence-transformers

qdrant-client
sqlite-utils

streamlit
requests

mixedbread
sqlalchemy

pypdf
rapidfuzz
